@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fff;
}

.main-color {
  color: #26a11b;
}

.btn-bg-color {
  background-color: #0b8100;
}

.text-secondary {
  color: rgba(0, 0, 0, 0.54);
}

.text-center {
  text-align: center;
}

h2 {
  font-family: Oswald;
  margin: 0;
  font-size: 48px;
}

h4 {
  font-family: Oswald;
  margin: 0;
  font-size: 16px;
}

hr {
  width: 250px;
  padding: 0;
}

/* 
<----- MAIN LAYOUT ----->
*/

.drawer a {
  text-decoration-line: none;
  color: black;
}

#cover,
#footer {
  color: white;
  background-image: -webkit-linear-gradient(0deg, #88da62 0%, #258d4f 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cover {
  min-height: 80vh;
  padding: 10vh 0;
}

#footer {
  min-height: 10vh;
  padding: 5vh 0;
}

#about,
#photos,
#services,
#reviews,
#contact {
  min-height: 50vh;
  padding: 7vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#photos,
#contact {
  background-color: #f2fdf2;
}

.cover-content,
.about-content,
.photos-content,
.reviews-content,
.services-content,
.contact-content,
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.flex-col {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
<----- INDIVIDUAL SECTIONS ----->
*/

.about-featured-img {
  width: 880px;
}

@media (max-width: 800px) {
  .about-featured-img {
    width: 100%;
  }
}

.about-text {
  line-height: 1.5;
  color: #3d3d3d;
}

.photos-section-img {
  height: 450px;
  width: 700px;
}

@media (max-width: 800px) {
  .photos-section-img {
    height: auto;
    width: 100%;
  }
}

.services-accordian-group {
  width: 100%;
}

@media (min-width: 800px) {
  .services-accordian-group {
    width: 600px;
  }
}

#feature {
  height: 40vh;
  background-image: url("https://preview.colorlib.com/theme/knuford/images/bg_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.feature-overlay {
  position: absolute;
  background: -webkit-linear-gradient(0deg, #88da62 0%, #258d4f 100%);
  opacity: 0.9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.feature-content {
  color: white;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-text {
  line-height: 1.5;
  color: #3d3d3d;
  height: 100%;
}

@media (min-width: 800px) {
  .review-text {
    min-height: 300px;
  }
}