@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fff;
}

.main-color {
  color: #26a11b;
}

.btn-bg-color {
  background-color: #0b8100;
}

.text-secondary {
  color: rgba(0, 0, 0, 0.54);
}

.text-center {
  text-align: center;
}

h2 {
  font-family: Oswald;
  margin: 0;
  font-size: 56px;
}

h4 {
  font-family: Oswald;
  margin: 0;
  font-size: 20px;
}

hr {
  width: 250px;
  padding: 0;
}

/* 
<----- MAIN LAYOUT ----->
*/

.drawer a {
  text-decoration-line: none;
  color: black;
}

#footer {
  color: white;
  background-image: -webkit-linear-gradient(45deg, #8ce265 0%, #207943 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cover {
  min-height: 80vh;
  padding: 10vh 0;
}

#footer {
  min-height: 10vh;
  padding: 5vh 0;
}

#about,
#photos,
#services,
#reviews,
#contact {
  min-height: 50vh;
  padding: 7vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#photos,
#contact {
  background-color: #f2fdf2;
}

.cover-content,
.about-content,
.photos-content,
.reviews-content,
.services-content,
.contact-content,
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
<----- INDIVIDUAL SECTIONS ----->
*/

#cover {
  color: white;
  background-image: -webkit-linear-gradient(270deg, #8ce265 0%, #207943 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cover-logo {
  position: absolute;
  z-index: -1;
  margin-left: 440px;
  margin-top: 105px;
  height: 680px;
}

.cover-text {
  position: absolute;
  width: 800px;
  margin-right: 440px;
  margin-top: -150px;
}

.cover-brand {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-brand-one {
  font-size: 91px;
}

.cover-brand-two {
  font-size: 64px;
}

.cover-brand-three {
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .cover-logo {
    margin-left: 400px;
    margin-top: 105px;
    height: 550px;
  }

  .cover-text {
    margin-right: 320px;
  }

  .cover-brand-one {
    font-size: 81px;
  }
  
  .cover-brand-two {
    font-size: 56px;
  }
}

@media (max-width: 1000px) {
  .cover-logo {
    margin-left: 320px;
    margin-top: 50px;
    height: 500px;
  }

  .cover-text {
    margin-right: 260px;
    margin-top: -100px;
  }

  .cover-brand-one {
    font-size: 60px;
  }
  
  .cover-brand-two {
    font-size: 48px;
  }
}

@media (max-width: 750px) {
  .cover-logo {
    margin-left: -120px;
    margin-top: 270px;
    height: 450px;
  }

  .cover-brand-three {
    margin-top: 10px;
  }

  .cover-text {
    position: absolute;
    margin-right: 0px;
    margin-top: -270px;
  }
}

@media (max-width: 550px) {
  .cover-logo {
    margin-left: -60px;
    margin-top: 120px;
    width: 480px;
  }

  .cover-text {
    position: absolute;
    margin-right: 0px;
    margin-top: -300px;
  }

  .cover-brand-one {
    font-size: 44px;
  }
  
  .cover-brand-two {
    font-size: 40px;
  }

  .cover-brand-three {
    margin-top: 20px;
  }
}

.about-featured-img {
  width: 880px;
}

@media (max-width: 800px) {
  .about-featured-img {
    width: 100%;
  }
}

.about-content {
  width: 300px;
}

.about-text {
  line-height: 1.5;
  color: #3d3d3d;
}

.photos-section-img {
  height: 450px;
  width: 700px;
}

@media (max-width: 800px) {
  .photos-section-img {
    height: auto;
    width: 100%;
  }
}

.services-accordian-group {
  width: 100%;
}

@media (min-width: 800px) {
  .services-accordian-group {
    width: 500px;
  }
}

.services-accordian-text {
  color: #3d3d3d;
  line-height: 1.5;
}

#feature {
  height: 40vh;
  background-image: url("./images/Collins_Nails_Salon_Spa_Photo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.feature-overlay {
  position: absolute;
  background: -webkit-linear-gradient(0deg, #88da62 0%, #258d4f 100%);
  opacity: 0.9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.feature-content {
  color: white;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-box {
  width: 300px;
}

.review-text {
  line-height: 1.5;
  color: #3d3d3d;
  height: 100%;
}

@media (min-width: 800px) {
  .review-text {
    min-height: 300px;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/* img {
  transform: rotateY(180deg);
}

img.appear {
  transition: transform 1000ms;
  transform-style: preserve-3d;
  transform: rotateY(360deg);
} */